.container{
    width: 800px;
    height: 400px;
    border: 1px solid black;
    position: relative;
}
.cubo{
    position: absolute;
    background-color: red;
    width: 40;
    height: 40;
    
}
.container2{
    display: flex;
    margin-left: 300px;
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 1px solid black;
}